<h3>Create Movie</h3>

<form (ngSubmit)="createMovie()" [formGroup]="movieForm">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" formControlName="title">
        <div class="alert alert-danger" *ngIf="movieForm.get('title')?.invalid && movieForm.get('title')?.touched">
            <p *ngIf="movieForm.get('title')?.errors!.required">necessary area</p>
            <p *ngIf="movieForm.get('title')?.errors!.minlength">necessary minumum 5 charachters</p>
        </div>
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="description" class="form-control" formControlName="description"></textarea>
    </div>

    <div class="mb-3">
        <label for="imageUrl" class="form-label">ImageUrl</label>
        <input name="imageUrl" type="text" class="form-control" formControlName="imageUrl">  
        <div class="alert alert-danger" *ngIf="movieForm.get('imageUrl')?.invalid && movieForm.get('imageUrl')?.touched">
            <p *ngIf="movieForm.get('imageUrl')?.errors!.required">necessary area</p>
            <p *ngIf="movieForm.get('imageUrl')?.errors!.wrongExtention">only "png", "jpeg" and "jpg" formats can be used</p>
        </div>   
    </div>

    <div class="mb-3">
        <label for="categoryId" class="form-label">Category</label>
        <select name="categoryId" class="form-select" formControlName="categoryId">
            <option value="-1">Seçiniz</option>
            <option *ngFor="let item of categories" [value]="item.id">{{item.name}}</option>
        </select>
    </div>

    <button [disabled]="movieForm.invalid" type="submit" class="btn btn-primary" >Create</button>
    <button class="btn btn-warning" (click)="clearForm()" >Clear</button>
</form>
