<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3 text-center">
                Mehmet YEL'in listesi
            </h3>

            <div class="input-group mb-3">
                <input type="text" class="form-control">
                <button class="btn btn-outline-primary">Add</button>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" name="" id="displayAll">
                <label for="displayFor" class="form-check-label">Hepsini Göster</label>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>1</th>
                        <th>Kahvaltı</th>
                        <th>Yes</th>
                    </tr>
                    <tr>
                        <th>2</th>
                        <th>Spor</th>
                        <th>Yes</th>
                    </tr>
                    <tr>
                        <th>3</th>
                        <th>Alışveriş</th>
                        <th>No</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>